*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

.contenedorBienvenida, .contenedorPuntaje{
  width: 100%;
  height: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background: url(./img/fondoSmall.png) no-repeat center /100% 100%;
  background-size: cover;
  
}

.contenedorCategorias, .contenedorPreguntas{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background: linear-gradient(207.8deg, #490b58 16.69%, #a70f9b 100%);
}

.contenedorMensajeBienvenida {
/*   font-family: 'Josefin Sans', sans-serif; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #fdfdfd;
  text-shadow: -2px 3px 0 #45196e, -2px 3px 0 #9ed3db;
  text-align: center;
  padding-bottom: 30px;
}

.usuario{
  outline: none;
  padding: 5px;
  text-align: center;
  width: 50%;
  border-radius: 15px;
  border: none;
/*   font-family: 'Patrick Hand', cursive; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
  background: #fcf69c78;
  margin-bottom: 15px;
}

button{
  width: 70px;
  padding: 5px 15px;
  border-radius: 6px;
  border-style: none;
  cursor: pointer;
/*   font-family: 'Patrick Hand'; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
}


#botonIniciar, #siguiente{
  background-color: #55D8C1;
  border-color: #55D8C1;
  box-shadow: 0px 8px 16px 0px #0e5c5c;
}

/* .contenedorCategorias{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background: url(./img/fondoHumo.jpg) no-repeat center /100% 100%;
  justify-content: center;
} */

.tituloCategorias{
 /*  font-family: 'Josefin Sans', sans-serif; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #dcdf16;
  /* text-shadow: -2px 3px 0 #45196e, -2px 3px 0 #9ed3db; */
  text-align: center;
}

.tarjetasDeCategorias{
  width: 200px;
  max-width: 800px;
  height: 500px;
  max-height: 900px;
  padding: 10px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.tarjetaCategoria{
  width: 150px;
  max-width: 400px;
  height: 220px;
  max-height: 500px;
  text-align: center;
  background: #f5ca72;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  gap: 10px;
}


.tarjetaCategoria img{
  width: 100px;
  height: 100px;
}

a{
  width: 80px;
  padding: 5px 15px;
  cursor: pointer;
  /* font-family: 'Patrick Hand'; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-decoration: none;
  font-size: 16px;
  outline: none;
  color: whitesmoke;
  background-color: #e13851;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #bd253c;
}


a:hover{
  background-color: #F94C66;
}

a:active {
  background-color: #53BF9D;
  box-shadow: 0 5px #2b604f;
  transform: translateY(4px);
}


.tarjetasDeCategorias h2{
  font-family: cursive;
  /* font-weight: bold; */
  color: #12c78e;
  text-shadow: 1px 2px #605a5a;
}






.pregunta{
  width: 300px;
  /* height: 90%; */
 /*  background-color: #fcf69c; */
  background: url(./img/fondoHumo.jpg) no-repeat center /cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 50px 20px;
}

.textoPregunta{
  font-family: sans-serif;
  font-size: 22px;
  text-align: center;
  margin-bottom: 30px;
  /* background: white; */
  padding: 20px;
}

.contenedorRespuestas {
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}


.boton {
  width: 200px;
  outline: none;
  padding: 5px 10px;
  border: 1px solid #b8b7b7;
  border-radius: 5px;
  cursor: pointer;
  background: #08a0b9;
  color: #e7e0e5;
  font-family: cursive;
  font-size: 16px;
}
  
.boton:hover{
  color: white;
}
  
#siguiente{
  width: 80px;
  /* height: 60px; */
  padding: 8px 12px;
  border-radius: 50px;
  border-style: none;
  background-color: #AB46D2;
  border-color: #2e0a3c;
  color: #e9dfe9;
  box-shadow: 0px 8px 16px 0px #2e0a3c;
  cursor: pointer;
  font-weight: 400;
}   

#textoPuntaje {
  font-family: cursive;
  font-weight: bold;
  text-align: center;
  color: #FBCB0A;
  text-shadow: 2px 1px #584704;
  margin-bottom: 20px;
}

.contenedorBotones{
  width: 70%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;s
}

.botonesPuntaje{
  width: 60px;
  height: 60px;
  
  border-radius: 60px;
  border: 1px solid white;
  /* border-color: #55D8C1; */
  box-shadow: 0px 4px 12px 0px white;
  cursor: pointer;
}

#jugar{
  background: url(./img/jugar.png) no-repeat center center / cover;
  border: 1px solid #FBCB0A;
  /* border-color: #55D8C1; */
  box-shadow: 0px 4px 12px 0px #dbd157;
}

#salir{
  background: url(./img/salir.png) no-repeat center center / cover;
  border: 1px solid #37E2D5;
  /* border-color: #55D8C1; */
  box-shadow: 0px 4px 12px 0px #9be3dd;
}

#jugar:hover{
  background: url(./img/hoverJugar.png) no-repeat center center / cover;
}
#salir:hover{
  background: url(./img/hoverSalir.png) no-repeat center center / cover;
}